[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
python-dotenv = "*"
openai = "==0.28.1"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
